<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename= 'images/logo.png') }}" , height="80"
                                              width="100"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path==url_for('index') %}active{% endif %}"><a href="{{url_for('index')}}" class="nav-link">Home</a></li>
                <li class="nav-item {% if request.path==url_for('realtime_issue') %}active{% endif %}" ><a href="{{url_for('realtime_issue')}}" class="nav-link">실시간 민원</a></li>
                <li class="nav-item {% if request.path==url_for('local') %}active{% endif %}"><a href="{{url_for('local')}}" class="nav-link">지역별 민원</a></li>
                <li class="nav-item {% if request.path==url_for('interest') %}active{% endif %}"><a href="{{url_for('interest')}}" class="nav-link">관심 민원</a></li>
            </ul>
        </div>
    </div>
</nav>